#ID {
    background-color: #2574a9;
}

#IDfield {
    background-color: #2574a9;
}

#address {
    background-color: #9a12b3;
}

#addressfield {
    background-color: #9a12b3;
}

#creditcard {
    background-color: #db0a5b;
}

#creditcardfield {
    background-color: #db0a5b;
}