#tilte1 {
    background-color: #2574a9;
    margin: 8px;
    display: inline;
}

#form1 {
    background-color: #2574a9;
    padding: 2px;
}

#tilte2 {
    background-color: #9a12b3;
    margin: 8px;
    display: inline;
}

#form2 {
    background-color: #9a12b3;
    padding: 2px;
}

#tilte3 {
    background-color: #db0a5b;
    margin: 8px;
    display: inline;
}

#form3 {
    background-color: #db0a5b;
    padding: 2px;
}